{% extends "base.html" %}

{% load static %}
{% block body %}
<link href="/static/css/sp-info.css" rel="stylesheet">
<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
<head>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap" rel="stylesheet">
</head>
<title>新型コロナウイルス感染防止に向けた取り組みについて</title>

<body>
    <h2>新型コロナウイルス感染防止に向けた取り組みについて</h2>
    <br>
        <li><a id="sp-link" href="https://drive.google.com/drive/folders/1qGHLktSAJjSfwPmG1YzP9n_Jcv4p_W5i?usp=sharing" target="_blank" rel="noopener noreferrer">「常時換気」・「消毒」の徹底</a></li>
    <br>
    <h4>店舗の営業に関するお知らせ</h4>
</body>
{% endblock %}